<section id="profile-page">
    <h1>Full Profile Information</h1>
    <article class="profile-card">

        <article class="profile-card-info">
            <h2>Username: {{user.username}}</h2>
            <h3>Address: {{user.address}}</h3>

            {{#if sharedArts}}
            <h4>Titles of shared posts by the user: {{sharedArts}}</h4>
            {{else}}
            <h4>Titles of shared posts by the user: Not yet.</h4>
            {{/if}}

            {{#if myArts}}
            <h4>Titles of which the user is the author: {{myArts}}</h4>
            {{else}}
            <h4>Titles of which the user is the author: Not yet.</h4>
            {{/if}}

        </article>

        <article class="profile-card-icon">
            <img src="/static/img/vip-user.png" alt="art-image1">
        </article>

    </article>
</section>