<div class="flip flip-vertical">
  <div class="front">
    <img src="{{image}}" alt="image_nature_2">
    <h1 class="text-shadow">Key word: {{keyword}}</h1>
  </div>
  <div class="back">
    <h2>{{title}}</h2>
    <p>Description: {{description}}</p>
    <a href="/post/{{_id}}" class="details">Details</a>
  </div>
</div>