<section class="create-form-container">
    <form method="post">
        <h3>Create Book Review</h3>
        <label>Title</label>
        <input type="text" name="title" class="box" id="title" value="{{book.title}}">
        <label>Author</label>
        <input type="text" name="author" class="box" id="author" value="{{book.author}}">
        <label>Genre</label>
        <input type="text" name="genre" class="box" id="genre" value="{{book.genre}}">
        <label>Stars</label>
        <input type="number" name="stars" class="box" id="stars" value="{{book.stars}}">
        <label>Image</label>
        <input type="text" name="image" class="box" id="image" value="{{book.image}}">
        <label>Review</label>
        <textarea class="box" name="bookReview">{{book.bookReview}}</textarea>
        <input type="submit" value="Create" class="btn">
    </form>
</section>